html {
  height: 100%;
}

body{
  display:grid;
  margin: 28px;
  height: 100%;
}
header{
  background: rgb(223, 114, 114);
  color: rgb(23, 99, 73);
}

main {
  background: goldenrod;
  color: bisque;
}

aside {
background: blueviolet;
color: coral;
}

footer {
background: cyan;
color: darkorange;
}